@import "src/styles/global-colors";
@import "src/styles/fonts";
@import "src/styles/global";


input{
  padding: 12px 8px;
  border: 1px solid $color-border;
  border-radius: 2px;
  @extend .main-text__body-xs;
  width: 100%;

  &:focus{
    outline-color: $color-purple;
  }

  &:disabled{
    background-color: $color-disabled;
    color: $color-border;
  }

}

.error{
  color: $color-error;
  @extend .main-text__body-s;
}

label{
  @extend  .main-text__body-l;
}

.element-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}




