<div class="input-element">
  <label
    class="input-element__label"
    [for]="inputId">{{ textLabel }}</label>
  <input
    class="input-element__input"
    [ngClass]="{'ng-touched ng-invalid': control.invalid && control.touched}"
    [formControl]="control"
    [type]="type"
    [id]="inputId"
    [placeholder]="placeholderText"/>


  <!-- Mensajes de error -->
  <div
    *ngIf="control.invalid && control.touched"
    class="error input-element__container-error">
    <small
      *ngIf="control.errors?.['required'] && type !== 'email'"
    >
      {{ textLabel }} no puede estar vacio
    </small>

    <small *ngIf="control.errors?.['maxlength']  && type !== 'email'">
      {{ textLabel }} debe tener menos de {{ maxInputLength }} caracteres
    </small>

    <div *ngIf="type === 'email'">

      <small *ngIf="control.errors?.['maxlength']">
        {{ textLabel }} debe tener menos de {{ maxInputLength }} caracteres
      </small>

      <small *ngIf="control.errors?.['email']">
        {{ textLabel }} debe se valido
      </small>
    </div>
  </div>
</div>

