@import "src/styles/global-colors";
@import "src/styles/fonts.scss";

footer{
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  background-color: $color-black;
}

.footer-container{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 100px;
  align-items: flex-start;
  justify-content: space-evenly;
  color: $color-white;
  padding: 30px;
}

.footer-container > div:nth-child(1){
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.footer-container > div:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.footer-list > li{
  color: $color-white;
  list-style: none;
  @extend .main-text__body-m-regular;
}

.footer-logo{
  width: 180px;
  height: 100px;
}




.buttons-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-information-container{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.footer-title{
  font-family: Intro, "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: end;
}

.footer-date{
  text-align: end;
}

.footer-direction-text{
  text-align: end;
  color: $color-white;
}

.footer-email-text{
  text-align: end;
  color: $color-white;
  margin: 0;
}

.icon-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}




.cc-container{
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  border-top: 1px solid $color-border;
  color: $color-white;
}

.cc-container:nth-child(1){
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  @extend .main-text__body-xs;
}

.cc-container:nth-child(2){
  font-family: Intro, "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}


