@import "src/styles/global-colors";
@import "src/styles/global";
@import "src/styles/fonts";

.pagination{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;


  &__text{
    display: flex;
    flex-direction: row;

    align-items: center;
  }

}


