@import "src/styles/global-colors";
@import "src/styles/global";
@import "src/styles/fonts";



.item-card{
  border: 1px solid $color-spacer;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90vw;
  //min-height: 400px;


  @extend .shadow__small;
  transition-duration: 0.2s;

  position: relative;
  gap: 10px;


  @media (min-width: 768px) and (max-width: 1023px) {
    width: 45vw;
    //height: 460px;
  }

  @media (min-width: 1024px) {
    width: 310px;
    //height: 400px;
  }


  &:hover{

  }

  &__id{
    position: absolute;
    top: 0;
    right: 0;

    border-top-right-radius: 3px;
    border: 1px solid $color-purple-click;
    background-color: $color-purple-hover;
    color: $color-black;

    width: 40px;
    height: 40px;
    font-weight: bold;
    @extend .main-text__body-s;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__title{
    @extend .desktop__poppins-h2;
    text-align: center;
  }

  &__text{
    @extend .main-text__body-m;
  }

  &__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10px;

  }

  &__element{
    border: 2px solid $color-purple-hover;
    border-radius: 4px;
    padding: 3px 5px;
    color: $color-purple;
    background-color: $color-spacer_light;
  }

  &__supply{
    margin:auto;
  }


  &__supply-text{
    margin-top: 20px;
  }



  &__add-supply-button{
    margin-top: 25px;
    align-self: center;
    bottom: 20px;
  }

}








.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;

  &__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 201;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

  }

  &__input{
    height: 50px;
  }

  &__button{
    height: 50px;
  }

  &__title{
    @extend .desktop__poppins-h3;
  }
}


.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 202;
}




