@import "src/styles/global-colors";
@import "src/styles/global";
@import "src/styles/fonts";



.item-card{
  border: 1px solid $color-spacer;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90vw;
  @extend .shadow__small;
  transition-duration: 0.2s;
  position: relative;
  gap: 10px;


  @media (min-width: 768px) and (max-width: 1023px) {
    width: 45vw;
    height: 400px;

  }

  @media (min-width: 1024px) {
    width: 310px;
    height: 400px;
  }


  &:hover{

  }

  &__id{
    position: absolute;
    top: 0;
    right: 0;

    border-top-right-radius: 3px;
    border: 1px solid $color-purple-click;
    background-color: $color-purple-hover;
    color: $color-black;

    width: 40px;
    height: 40px;
    font-weight: bold;
    @extend .main-text__body-s;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__title{
    @extend .desktop__poppins-h2;
    text-align: center;
  }

  &__text{
    @extend .main-text__body-m;
  }

  &__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10px;

  }

  &__element{
    border: 2px solid $color-purple-hover;
    border-radius: 4px;
    padding: 3px 5px;
    color: $color-purple;
    background-color: $color-spacer_light;
  }

  &__supply{
    margin:auto;
  }

  &__form{
    display: flex;
    flex-direction: row;

  }

}


