@import "src/styles/global";
@import "src/styles/global-colors";
@import "src/styles/fonts";

.sort-container {
  display: flex;
  align-items: center;

  width: 100%;
  height: fit-content;
  @extend .desktop__poppins-h4;
  margin: 0;
}


.styled-select {
  padding: 12px 16px;
  color: $color-purple;
  border: none;
  background-color: $color-white;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"%3E%3Cpath fill="%239D3FE7FF" d="M7 10l5 5 5-5z"/%3E%3C/svg%3E'); // Flecha personalizada
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 30px;
  appearance: none;
  cursor: pointer;
  outline: none;
  @extend .main-text__body-s-regular;
  width: 150px;


  &:hover {
    border-color: lighten($color-purple, 10%);
  }

  &:focus {
    border-color: darken($color-purple, 10%);
  }
}

.styled-select option {
  color: $color-purple;
  padding: 10px;
  background-color: $color-white;


  &:hover {
    background-color: $color-purple-hover;
    color: $color-white;
  }

  &:checked, &:focus {
    background-color: $color-purple;
    color: $color-white;
  }
}

span{
  font-size: 50px;
  @extend .desktop__poppins-h1;
}

