@import "../../../../styles/global-colors";
@import "../../../../styles/fonts";

.sort-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  @extend .desktop__poppins-h4;
}

select{
  display: flex;
  padding: 12px 8px;
  @extend .main-text__body-xs;
  border: 1px solid $color-purple;
  border-radius: 4px;

  &::selection{
    background-color: $color-purple;
  }
}

option{
  @extend .main-text__body-s;
  &:hover{
    background-color: $color-purple;
  }
  &:focus{
    background-color: $color-purple;
  }
  &::selection{
    background-color: $color-purple;
  }
}
