<section>
  <app-create-form
    [mainTitle]="TITLE_CREATE_BRAND"
    (formSubmitted)="createBrand($event)"
    [inputForm]="formBrand"

  >

    <app-input-text
      [textLabel]="FIELD_NAME"
      [inputId]="ID_FIELD_NAME"
      [maxInputLength]="maxLengthName"
      type="text"
      [control]="name">
    </app-input-text>

    <app-input-text
      [textLabel]="FIELD_DESCRIPTION"
      [inputId]="ID_FIELD_DESCRIPTION"
      [maxInputLength]="maxLengthDescription"
      type="text"
      [control]="description">
    </app-input-text>


  </app-create-form>


  <app-toast
    *ngIf="showToast"
    [toastType]="typeToastMessage"
    [message]="toastMessage"></app-toast>

</section>


