<section>


  <form action="" (ngSubmit)="createBrand()" #categoryForm="ngForm">

    <h2>Crear marca</h2>

    <div class="form-container">

      <label for="name">Nombre: </label>
      <app-input-text
        idInput="name"
        (valueChange)="updateBrandValues('name', $event)">
      </app-input-text>
      <div *ngIf="nameError" class="error">{{ nameError }}</div>

      <label for="description">Descripción: </label>
      <app-input-text
        idInput="description"
        (valueChange)="updateBrandValues('description', $event)">
      </app-input-text>
      <div *ngIf="descriptionError" class="error">{{ descriptionError }}</div>
      <div *ngIf="brandStatus" class="category-status">{{ brandStatus }}</div>

    </div>


    <div class="buttons-container">
      <app-main-button
        type="submit"
        typeButton="primary"
        imgSource="assets/icons/white_save_icon.svg"
        buttonText="Create"
        [disabled]="nameError !== '' || descriptionError!== ''">
      </app-main-button>
    </div>

  </form>

  <app-toast
    *ngIf="showToast"
    [toastType]="typeToastMessage"
    [message]="toastMessage"></app-toast>

</section>


