<label>
  Seleccionar Marca (max {{ maxSelectedItems }})

  <div class="multi-select-dropdown">
    <!-- Mostrar las categorías seleccionadas como tags -->
    <div class="multi-select-dropdown__selected-items" [ngClass]="{'container-error':selectedItems.length ===3}">
      <span *ngFor="let item of selectedItems" class="multi-select-dropdown__tag">
        <span class="multi-select-dropdown__tag__text">{{ item }}</span>
        <img
          src="../../../../assets/icons/close_tag_line.svg"
          class="multi-select-dropdown__tag__remove"
          (click)="removeItem(item)"
          (keydown.enter)="removeItem(item)"
          alt="">
      </span>


      <!-- Mostrar el texto "Seleccionar categorías" si no hay items seleccionados -->
      <span *ngIf="selectedItems.length === 0" class="multi-select-dropdown__placeholder">Seleccionar</span>


      <!-- Flecha al final -->
      <img
        src="../../../../assets/icons/down_arrow.svg"
        class="multi-select-dropdown__arrow" (click)="toggleDropdown()"
        (keydown.enter)="toggleDropdown()"
        [ngClass]="{'rotate': dropdownOpen}" alt="">
    </div>


    <!-- Lista desplegable de opciones -->
    <div *ngIf="dropdownOpen" class="multi-select-dropdown__options-container">
      <div
        *ngFor="let option of inputData"
        class="multi-select-dropdown__option"
        [ngClass]="{'selected' : isSelected(option.name)}"
        (click)="toggleSelection(option.name)"
        (keydown.enter)="toggleSelection(option.name)">
        {{ option.name }}
      </div>
    </div>

  </div>
</label>
