<div class="data-container">

  <!-- Data form -->
  <app-form-data
    [mainTitle]="mainTitle"
    [datos]="inputData">
  </app-form-data>

  <!-- Sort by -->
  <app-table-sort-direction
    [dataOption]="orderOptions"
    (ascendingChange)="changeAscending()">
  </app-table-sort-direction>



  <!-- Pagination + buttons -->
  <app-pagination
    [page]="page"
    [size]="size"
    [totalElements]="totalElements"
    [totalPages]="totalPages"
    (leftClick)="prevPage()"
    (rightClick)="nextPage()"
  >
  </app-pagination>
</div>

