@import "src/styles/global-colors";
@import "src/styles/fonts";
@import "src/styles/global";


.toast{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 6px;
  border: 1px solid $color-border;
  @extend .shadow__medium;
  animation: toastIn 0.5s ease forwards; // Animación de entrada

  &.toast-out {
    animation: toastOut 0.5s ease forwards; // Animación de salida
  }
}

@keyframes toastIn {
  0% {
    transform: translateX(100%); // Comienza fuera de la pantalla a la derecha
    opacity: 0; // Invisible
  }
  100% {
    transform: translateX(0); // Posición final (visible)
    opacity: 1; // Totalmente visible
  }
}

@keyframes toastOut {
  0% {
    transform: translateX(0); // Comienza en la posición visible
    opacity: 1; // Visible
  }
  100% {
    transform: translateX(100%); // Sale hacia la derecha
    opacity: 0; // Invisible
  }
}

.toast-container{
  color: $color-error; /* Color del texto */
  padding: 16px;
  border-radius: 4px;

  transition: all 0.5s ease;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: $color-white;
  @extend .main-text__body-m;
}

.toast-divider{
  width: 12px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

.type-toast-img{
  margin-left: 12px;
}

.toast-color{
  &-error{
    background-color: $color-error;
  }
  &-warning{
    background-color: $color-attention;
  }
  &-neutral{
    background-color: $color-purple;
  }
  &-success{
    background-color: $color-approval;
  }
}

.toast-text-color{
  &-error{
    color: $color-error;
  }
  &-warning{
    color: $color-attention;
  }
  &-neutral{
    color: $color-purple;
  }
  &-success{
    color: $color-approval;
  }
}











