<form [formGroup]="formUser" (ngSubmit)="onSubmit()">

  <h2>{{ mainTitle }}</h2>
  <app-input-text
    textLabel="Nombre"
    inputId="name"
    [maxInputLength]="maxLengthName"
    type="text"
    [control]="name"
  >
  </app-input-text>

  <app-input-text
    textLabel="Descripcion"
    inputId="description"
    [maxInputLength]="maxLengthDescription"
    type="text"
    [control]="description"
  >
  </app-input-text>

  <app-input-text
    textLabel="Cantidad"
    inputId="quantity"
    [maxInputLength]="maxLengthDescription"
    type="number"
    [control]="quantity"
  >
  </app-input-text>

  <app-input-text
    textLabel="Precio"
    inputId="price"
    [maxInputLength]="maxLengthDescription"
    type="number"
    [control]="price"
  >
  </app-input-text>


  <!-- Selección de Categorías -->

  <app-multi-select-tag
    formControlName="categories"
    [inputData]="categoryData"
  >
  </app-multi-select-tag>


  <!-- Selección de Marcas -->
  <div>
    <label for="brand">Selecciona Marca</label>
    <select id="brand" formControlName="brandName">
      <option *ngFor="let brand of brandData" [value]="brand.name">{{ brand.name }}</option>
    </select>
    <div *ngIf="brandName.errors?.['required']" class="error">
      Debes seleccionar una marca.
    </div>

  </div>


  <div class="buttons-container">
    <app-main-button
      [disabled]="formUser.invalid"
      buttonText="Guardar"
      imgSource="assets/icons/white_save_icon.svg">
    </app-main-button>
  </div>

</form>

