// Corporate
$color-purple: #9D3FE7;
$color-gradient: linear-gradient(159.13deg, #9D3FE7 -24.13%, #602093 132.21%);

// Color Grayscale
$color-black: #1a141f;
$color-hint_text: #4B3A5A;
$color-border: #ABA7AF;
$color-disabled: #D4D2D5;
$color-spacer: #D9D1E0;
$color-spacer_light: #E5E0EB;
$color-bg_light_grey: #F5F3F7;
$color-white: #FFFFFF;

// Color Informing
$color-error: #D51A52;
$color-attention: #FF9500;
$color-approval: #00B998;
$color-link: #0F0BAB;


$color-purple-hover: #AE60EB;
$color-purple-click: #6A17AB;


*{
  box-sizing: border-box;
}

:root {
  --color-purple: #{$color-purple};
}





