@import "src/styles/global-colors";
@import "src/styles/fonts";




// GENERAL -------------------------------------------------
.shadow__extra-small{
  box-shadow: 0 10px 15px 0 #D3C0D612;
}

.shadow__small{
  box-shadow: 0 8px 16px 0 #3E134D12;
}

.shadow__medium{
  box-shadow: 0 15px 30px 0 #3E134D17;
}

.shadow__large{
  box-shadow: 0 10px 30px 0 #3E134D78;
}




// CORNER RADIUS -------------------------------------------
.corner-radius__small{

  border-radius: 2px;
  position: relative;
  background-color: $color-white;

  &:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    background: linear-gradient(135deg, #9D3FE7 0.48%, #F5F5F7 42.49%, #F5F5F7 98.88%);
    border-radius: 4px;
  }
}



.corner-radius__medium{
  position: relative;
  background-color: $color-white;
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    background: linear-gradient(135deg, #9D3FE7 0.48%, #F5F5F7 42.49%, #F5F5F7 98.88%);
    border-radius: 8px;
  }
}




.corner-radius__large{
  border-radius: 10px;
  position: relative;
  background-color: $color-white;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    background: linear-gradient(135deg, #9D3FE7 0.48%, #F5F5F7 42.49%, #F5F5F7 98.88%);
    border-radius: 12px;
  }
}




.corner-radius__huge{
  border-radius: 22px;
  position: relative;
  background-color: $color-white;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: -1;
    background: linear-gradient(135deg, #9D3FE7 0.48%, #F5F5F7 42.49%, #F5F5F7 98.88%);
    border-radius: 24px;
  }
}





// PRIMARY BUTTON ------------------------------------------
.primary-buttons{
  border-radius: 4px;
  border: 1px solid $color-purple;

  color: white;
  background-color:$color-purple;
  transition-duration: 200ms;
  @extend .main-text__body-m-regular;

  &:hover {
    background-color:$color-purple-hover;
    transform: scale(1.1);
  }

  &:active {
    background-color:$color-purple-click;
  }

  &:disabled {
    background-color:$color-disabled;
    border-color: $color-disabled;
  }

}



// SECONDARY BUTTON ---------------------------------------
.secondary-buttons {
  color: $color-purple;
  border: 1px solid $color-purple;
  background-color: inherit;
  @extend .main-text__body-m-regular;

  &:hover {
    border-color: $color-purple-hover;
    color: $color-purple-hover;
    transform: scale(1.1);
  }

  &:active {
    border-color:$color-purple-click;
    color:$color-purple-click;
  }

  &:disabled {
    border-color:$color-disabled;
    color:$color-disabled;
  }
}


.main-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 4px;
  transition-duration: 200ms;

  padding: 4px 12px;

  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 8px 28px;
  }

  @media (min-width: 1024px) {
    padding: 12px 52px;
  }
}
.error{
  color: $color-error;
  @extend .main-text__body-s;
}

.container-error{
  border-color: $color-error;
}



//TABLE STYLES -----------------------------------------
.data-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  align-items: center;

  &__title {
    text-align: center;
    @extend .desktop__poppins-h1;
  }

  &__table-container {
    width: 90vw;
    max-width: 90vw;
    height: 400px;
    max-height: 80vw;
    overflow: auto;

    @media (min-width: 1024px) {
      width: 800px;
    }
  }

  &__table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: $color-black;

    &-header,
    &-cell {
      padding: 8px 12px;
      text-align: center;
      max-height: 48px;
      width: 136px;
      height: 48px;
      white-space: nowrap;
      border: 3px solid $color-spacer_light;
    }

    &-header {
      font-weight: 600;
      position: sticky;
      top: 0;
      background-color: $color-white;
      z-index: 1;
      border-bottom: 5px solid $color-spacer_light;
      @extend .main-text__body-s-regular;
    }

    &-cell {
      @extend .main-text__body-s;
      &--padding{
        padding: 0;
      }

    }

    &-row:nth-child(even) {
      background-color: rgba(245, 243, 247);
    }

    &--nested {
      width: 100%;
      border: none;

      & .data-container__table-cell {
        padding: 4px 8px;
        border: 1px solid $color-spacer_light;
      }
      & .data-container__table-cell--border {
        border-left: none;
        border-right: none;
        border-top:none;
      }

    }
  }


}

// Componentes --------------------------------------
app-create-form, app-input-text{
  width: 100%;
}
