section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  padding: 20px;
  @media (min-width: 1024px) {
    padding: 20px;
  }
}
