<footer>

  <div class="footer-container">

      <ul class="footer-list">
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
        <li>Menu 4</li>
        <li>Menu 5</li>
        <li>Menu 6</li>
      </ul>


      <div class="footer-information-container">

        <div>
          <p class="footer-title">+7 (495) 000-00-00</p>
          <p class="footer-date">mon-fri 9:00 - 18:00</p>
        </div>

        <p class="main-text__body-xs footer-direction-text">
          Moscow,<br>
          ul. Name d. 1
        </p>
        <p class="desktop__poppins-h4 footer-email-text">Email@email.ru</p>

        <div class="icon-container">
          <a href="/"><img src="assets/icons/vk_logo.svg" alt=""></a>
          <a href="/"><img src="assets/icons/facebook_logo.svg" alt=""></a>
          <a href="/"><img src="assets/icons/twitter_logo.svg" alt=""></a>
        </div>

      </div>

  </div>

  <div class="cc-container">

    <img class="footer-logo" src="assets/icons/logo_pragma.svg" alt="">
    <div>
      <p>
        © 2021-2021 <br>
        Company name. All<br>
        rights reserved
      </p>
      <span>Privacy Policy</span>
    </div>

  </div>

</footer>
