<section>


  <form action="" (ngSubmit)="createCategory()" #categoryForm="ngForm">

    <h2>Create category</h2>

    <div class="form-container">

      <label for="name">Nombre: </label>
      <app-input-text
        idInput="name"
        (valueChange)="updateCategoryValues('name', $event)">
      </app-input-text>
      <div *ngIf="nameError" class="error-message">{{ nameError }}</div>

      <label for="description">Description: </label>
      <app-input-text
        idInput="description"
        (valueChange)="updateCategoryValues('description', $event)">
      </app-input-text>
      <div *ngIf="descriptionError" class="error-message">{{ descriptionError }}</div>

    </div>


      <div class="buttons-container">
          <app-primary-icon-button
                  type="submit"
                  buttonText="Create"
                  [disabled]="nameError || descriptionError">

          </app-primary-icon-button>

          <app-secondary-button
                  type="button"
                  buttonText="Cancel"></app-secondary-button>
      </div>

  </form>

</section>
