<section class="get-items">
  <h1 class="get-items__title">Articulos</h1>
  <div
    class="get-items__cards"
  >

    <app-item-card
      *ngFor="let dataElement of itemData"
      class="get-items__items"
      [id]="dataElement.id"

      [inputId]="dataElement.id"
      [name]="dataElement.name"
      [description]="dataElement.description"
      [quantity]="dataElement.quantity"
      [price]="dataElement.price"
      [brand]="dataElement.brand.name"
      [categories]="dataElement.categories"

      [hasRole]="hasRole"
      (formSubmitted)="addSupply($event)"

    ></app-item-card>


  </div>

  <!-- Sort by -->
  <div class="data-container__sort-container">

    <app-table-sort-direction
      *ngIf="orderOptions.length > 0"
      [dataOption]="orderOptions"
      inputTitle="Ordenar"
      (ascendingChange)="changeAscending()">
    </app-table-sort-direction>

    <app-table-sort-direction
      *ngIf="dataOptions.length > 0"
      [dataOption]="dataOptions"
      inputTitle="Ordenar por tabla"
      (tableChange)="changeAscending2($event)">
    </app-table-sort-direction>

  </div>
  <!-- Pagination + buttons -->
  <app-pagination
    [page]="page"
    [size]="size"
    [totalElements]="totalElements"
    [totalPages]="totalPages"
    (leftClick)="prevPage()"
    (rightClick)="nextPage()"
  >
  </app-pagination>

</section>












<!-- Data form -->
<app-table-data
  [inputData]="itemData"
  [columnHeaders]="dataColumns"
  mainTitle="Articulos"
  [orderOptions]="orderOptions"
  [dataOptions]="dataOptions"
  (changeSort)="changeAscending()"
  (changeTable)="changeAscending2($event)"

  [page]="page"
  [size]="size"
  [totalElements]="totalElements"
  [totalPages]="totalPages"
  [ascending]="ascending"
  (leftClick)="prevPage()"
  (rightClick)="nextPage()"
>


  <ng-container *ngFor="let dataElement of itemData">
    <tr class="data-container__table-row">
      <td class="data-container__table-cell">{{ dataElement.id }}</td>
      <td class="data-container__table-cell">{{ dataElement.name }}</td>
      <td class="data-container__table-cell">{{ dataElement.description }}</td>
      <td class="data-container__table-cell">{{ dataElement.quantity }}</td>
      <td class="data-container__table-cell">{{ dataElement.price }}</td>
      <td class="data-container__table-cell">{{ dataElement.brand.name }}</td>
      <td class="data-container__table-cell data-container__table-cell--padding">
        <table class="data-container__table data-container__table--nested">
          <tbody>
          <tr *ngFor="let category of dataElement.categories" class="data-container__table-row">
            <td class="data-container__table-cell data-container__table-cell--border">{{ category.name }}</td>
          </tr>
          </tbody>
        </table>
      </td>
      <td class="data-container__table-cell">
        <!--<form (ngSubmit)="addSupply()" [formGroup]="formSupply">

          <app-input-text
            [textLabel]="'Suministro'"
            [inputId]="'suministro'"
            type="number"
            [control]="supply">
          </app-input-text>
          <button [disabled]="formSupply.invalid" class="main-button primary-buttons">+</button>
          <app-main-button
            buttonText="agregar"
            [disabled]="formSupply.invalid"
          ></app-main-button>

        </form>-->
      </td>
    </tr>
  </ng-container>


</app-table-data>





