<section class="get-items">

  <h1 class="get-items__title">Articulos</h1>

  <div class="get-items__cards">

    <app-item-card
      *ngFor="let dataElement of itemData"
      class="get-items__items"
      [id]="dataElement.id"

      [inputId]="dataElement.id"
      [name]="dataElement.name"
      [description]="dataElement.description"
      [quantity]="dataElement.quantity"
      [price]="dataElement.price"
      [brand]="dataElement.brand.name"
      [categories]="dataElement.categories"

      [hasRole]="hasRole"
      (formSubmitted)="addSupply($event)"

    ></app-item-card>

  </div>



  <!-- Sort by -->
  <div class="data-container__sort-container">

    <app-table-sort-direction
      *ngIf="orderOptions.length > 0"
      [dataOption]="orderOptions"
      inputTitle="Ordenar"
      (ascendingChange)="changeAscending()">
    </app-table-sort-direction>

    <app-table-sort-direction
      *ngIf="dataOptions.length > 0"
      [dataOption]="dataOptions"
      inputTitle="Ordenar por tabla"
      (tableChange)="changeAscending2($event)">
    </app-table-sort-direction>

  </div>



  <!-- Pagination + buttons -->
  <app-pagination
    [page]="page"
    [size]="size"
    [totalElements]="totalElements"
    [totalPages]="totalPages"
    (leftClick)="prevPage()"
    (rightClick)="nextPage()"
  >
  </app-pagination>

</section>





