@import "src/styles/global-colors";
@import "src/styles/fonts";
@import "src/styles/global";


section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
  @media (min-width: 1024px) {
    padding: 20px;
  }
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 25px;
  align-items: start;
  @extend .shadow__medium;
  @extend .corner-radius__large;

  @media (min-width: 1024px) {
    width:500px;
  }
}

h2{
  @extend .desktop__poppins-h1;
}

label{
  @extend  .main-text__body-l;
}


.form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.error{
  color: $color-error;
  @extend .main-text__body-s;
}
