<form [formGroup]="formUser" (ngSubmit)="onSubmit()">

  <h2>Crear categoria</h2>
  <app-input-text
    textLabel="Nombre"
    id="name"
    [maxInputLength]="maxLengthName"
    type="text"
    [control]="name"
  >
  </app-input-text>

  <app-input-text
    textLabel="Descripcion"
    id="description"
    [maxInputLength]="maxLengthDescription"
    type="text"
    [control]="description"
  >
  </app-input-text>

<div class="buttons-container">

  <app-main-button
    [disabled]="formUser.invalid"
    buttonText="Guardar"
    imgSource="assets/icons/white_save_icon.svg"
  ></app-main-button>
</div>

</form>
