@import "src/styles/global";
@import "src/styles/global-colors";
@import "src/styles/fonts";

.dropdown-container {
  position: relative;
  width: 100%;
  min-width: 300px;
  @extend .main-text__body-xs;
}

.selected-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  padding: 12px;
  border: 1px solid $color-spacer_light;
  border-radius: 5px;
  min-height: 44px;
  height: 100%;

}

.selected-item {
  display: flex;
  align-items: center;
  gap: 2px;
  max-width: 85%;

}

.item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $color-bg_light_grey;
  padding: 5px 10px;

}
.remove-item {
  cursor: pointer;
  color: black;
  margin-left: 0;
  flex-shrink: 0;
  padding: 5px;
}


.placeholder {
  color: $color-border;
  flex-grow: 1;
  @extend .main-text__body-s;
  padding-left: 10px;
}

.arrow {
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: absolute;

  padding:10px;
  width: 10%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  background-color: $color-white;
  border: 1px solid $color-spacer_light;


}

.dropdown-option {
  border-bottom: 1px solid $color-spacer_light;
  cursor: pointer;

  padding: 12px;
}

.dropdown-option:hover {
  background-color: $color-spacer;
}

.dropdown-option.selected {
  background-color: $color-purple;
  color: white;
}

label{
  @extend .main-text__body-m;
}
