<label>
  Seleccionar Marca

  <div class="dropdown-container">
    <!-- Mostrar las categorías seleccionadas como tags -->
    <div class="selected-items"  [ngClass]="{'container-error':selectedItems.length ===3}">
    <span *ngFor="let item of selectedItems" class="selected-item">
      <span class="item-text">{{ item }}</span>
      <img
        src="assets/icons/close_tag_line.svg"
        class="remove-item"
        (click)="removeItem(item)"
        (keydown.enter)="removeItem(item)"
        alt="">
    </span>


      <!-- Mostrar el texto "Seleccionar categorías" si no hay items seleccionados -->
      <span *ngIf="selectedItems.length === 0" class="placeholder">Seleccionar</span>


      <!-- Flecha al final -->
      <img
        src="assets/icons/down_arrow.svg"
        class="arrow" (click)="toggleDropdown()"
        (keydown.enter)="toggleDropdown()"
        [ngClass]="{'rotate': dropdownOpen}" alt="">
    </div>


    <!-- Lista desplegable de opciones -->
    <div *ngIf="dropdownOpen" class="dropdown-options">
      <div
        *ngFor="let option of inputData"
        class="dropdown-option"
        [ngClass]="{'selected' : isSelected(option.name)}"
        (click)="toggleSelection(option.name)"
        (keydown.enter)="toggleSelection(option.name)">
        {{ option.name }}
      </div>
    </div>

  </div>
</label>
