<form [formGroup]="formAux" (ngSubmit)="onSubmit()">

  <h2>{{ mainTitle }}</h2>
  <app-input-text
    textLabel="Nombre"
    inputId="name"
    [maxInputLength]="maxLengthName"
    type="text"
    [control]="name"
  >
  </app-input-text>

  <app-input-text
    textLabel="Apellido"
    inputId="lastName"
    [maxInputLength]="maxLengthLastName"
    type="text"
    [control]="lastName"
  >
  </app-input-text>

  <app-input-text
    textLabel="Documento de Identidad"
    inputId="documentID"
    type="number"
    [control]="documentId"
  >
  </app-input-text>

  <app-input-text
    textLabel="Celular"
    inputId="phone"
    [maxInputLength]="maxLengthPhone"
    type="text"
    [control]="phone"
  >
  </app-input-text>

  <app-input-text
    textLabel="Correo"
    inputId="email"
    type="email"
    [control]="email"
  >
  </app-input-text>

  <app-input-text
    textLabel="Contraseña"
    inputId="password"
    type="password"
    [control]="password"
  >
  </app-input-text>

  <app-input-text
    textLabel="Fecha de nacimiento"
    inputId="birthDate"
    type="date"
    [control]="birthDate"
  >
  </app-input-text>


  <div class="select-container">

    <label for="role">Rol:</label>

    <select name="role" id="role" formControlName="role">
      <option value="AUX_BODEGA">Auxiliar de bodega</option>
    </select>

  </div>



  <div class="buttons-container">
    <app-main-button
      [disabled]="formAux.invalid"
      buttonText="Guardar"
      imgSource="assets/icons/white_save_icon.svg">
    </app-main-button>
  </div>

</form>



