<div *ngIf="inputData.length > 0" class="data-container">
  <h2 class="data-container__title">{{ mainTitle }}</h2>

  <div class="data-container__table-container">

    <table class="data-container__table">
      <thead>
      <tr>
        <th *ngFor="let header of columnHeaders" class="data-container__table-header">{{ header }}</th>
      </tr>
      </thead>


      <tbody>
      <!-- Aquí se utiliza ng-content para inyectar contenido personalizado -->
      <ng-content></ng-content>
      </tbody>
    </table>
  </div>

</div>

