@import "src/styles/global";
@import "src/styles/fonts";

button{
  display: flex;
  align-items: center;
  padding: 12px 52px;
  gap: 8px;

  border-radius: 4px;
  border: 2px solid $color-purple;
  background-color:$color-white;
  color: $color-purple;
  transition-duration: 200ms;
  @extend .main-text__body-m-regular
}

button:hover {
  border-color:$color-purple-hover;
  color:$color-purple-hover;
  transform: scale(1.1);
}

button:active {
  border-color:$color-purple-click;
  color:$color-purple-click;
}

button:disabled {
  border-color:$color-disabled;
  color:$color-disabled;
}
