@import "../../../styles/global-colors";
@import "../../../styles/fonts";
@import "../../../styles/global";

.categories-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  align-items: center;
}

.categories-container > h2{
  text-align: center;
}

.table-container {
  width: 90vw;
  max-width: 90vw;
  height: 400px;
  max-height: 80vw;
  overflow: auto;

  @media (min-width: 1024px) {
    width: 800px;
    max-width: 800px;
  }
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  color: $color-black;
}


table, th, td {
  border: 2px solid $color-spacer_light;
}

th, td {
  padding: 8px 12px;
  text-align: center;
  max-height: 48px;
  width: 136px;
  height: 48px;
  white-space: nowrap;
}

td {
  @extend .main-text__body-s;
}

th {
  @extend .main-text__body-s-regular;
  font-weight: 600;
  position: sticky;
  top: 0;
  background-color: $color-white;
  z-index: 1;
  border-bottom: 5px solid $color-spacer_light;
}

.th-shadow {
  @extend .shadow__large;
  background-color: red;
}

tr:nth-child(even) {
  background-color: rgba(245, 243, 247);
}


