<div *ngIf="datos.length > 0" class="categories-container">
  <h2 class="desktop__poppins-h1">{{ mainTitle }}as</h2>

  <div class="table-container">

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let dataElement of datos">
        <td>{{ dataElement.id }}</td>
        <td>{{ dataElement.name }}</td>
        <td>{{ dataElement.description }}</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
