<div class="data-container">

  <!-- Data form -->
  <app-table-data
    mainTitle="Todas las categorias"
    [columnHeaders]="['ID', 'Nombre', 'Descripción']"
    [inputData]="categoryData"
    [orderOptions]="orderOptions"
    (changeSort)="changeAscending()"

    [page]="page"
    [size]="size"
    [totalElements]="totalElements"
    [totalPages]="totalPages"
    [ascending]="ascending"
    (leftClick)="prevPage()"
    (rightClick)="nextPage()"
  >

    <ng-container *ngFor="let dataElement of categoryData">
      <tr class="data-container__table-row">
        <td class="data-container__table-cell">{{ dataElement.id }}</td>
        <td class="data-container__table-cell">{{ dataElement.name }}</td>
        <td class="data-container__table-cell">{{ dataElement.description }}</td>
      </tr>
    </ng-container>

  </app-table-data>

</div>
