<form [formGroup]="formUser" (ngSubmit)="onSubmit()">

  <h2>{{ mainTitle }}</h2>
  <app-input-text
    textLabel="Nombre"
    inputId="name"
    [maxInputLength]="maxLengthName"
    type="text"
    [control]="name"
  >
  </app-input-text>

  <app-input-text
    textLabel="Descripcion"
    inputId="description"
    [maxInputLength]="maxLengthDescription"
    type="text"
    [control]="description"
  >
  </app-input-text>

  <app-input-text
    textLabel="Cantidad"
    inputId="quantity"
    [maxInputLength]="maxLengthDescription"
    type="number"
    [control]="quantity"
  >
  </app-input-text>

  <app-input-text
    textLabel="Precio"
    inputId="price"
    [maxInputLength]="maxLengthDescription"
    type="number"
    [control]="price"
  >
  </app-input-text>


  <!-- Selección de Categorías -->
  <div>

    <label for="categories" *ngIf="categoryData.length !== 0">Selecciona Categorías (min: 1, max: 3)</label>
    <select *ngIf="categoryData.length !== 0" id="categories" formControlName="categories" multiple>
      <option *ngFor="let category of categoryData" [value]="category.name">{{ category.name }}</option>
    </select>
    <div class="error" *ngIf="categories.errors?.['minlength'] || categories.errors?.['maxlength']">
      Debes seleccionar entre 1 y 3 categorías.
    </div>
  </div>

  <app-multi-select-tag
  [inputData]="categoryData"></app-multi-select-tag>


  <!-- Selección de Marcas -->
  <div>
    <label for="brand">Selecciona Marca</label>
    <select id="brand" formControlName="brandName">
      <option *ngFor="let brand of brandData" [value]="brand.name">{{ brand.name }}</option>
    </select>
    <div *ngIf="brandName.errors?.['required']" class="error">
      Debes seleccionar una marca.
    </div>

  </div>


  <div class="buttons-container">
    <app-main-button
      [disabled]="formUser.invalid"
      buttonText="Guardar"
      imgSource="assets/icons/white_save_icon.svg">
    </app-main-button>
  </div>

</form>

