@import "../../../../styles/global-colors";
@import "../../../../styles/fonts";
@import "../../../../styles/global";



.create-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin: auto;
  padding: 25px;
  align-items: start;
  @extend .shadow__medium;
  @extend .corner-radius__large;

  @media (min-width: 1024px) {
    width:500px;
  }

  &__title{
    @extend .desktop__poppins-h1;
  }

  &__buttons-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}






