<div class="nav-container">


  <div class="nav-header-container">

    <a
      class="nav-header-container__login"
      routerLink="/login"
      (click)="closeNav.emit()"
      *ngIf="!userIsLogin"
    >

      <img
        class="user-profile__avatar"
        src="/assets/icons/purple_person_logo.svg" alt="">

      <p>Iniciar Sesión</p>

    </a>

    <div
      *ngIf="userIsLogin"
      class="user-profile">

      <img
        class="user-profile__avatar"
        src="/assets/icons/avatar_ab_orange.svg" alt="">

      <div class="user-profile__info-container">

        <p
          class="user-profile__info-container__username user-profile__info-container__text">{{ userLoginData.email }}</p>
        <small
          class="user-profile__info-container__role user-profile__info-container__text">{{ userLoginData.role }}</small>

      </div>

    </div>

    <app-icon-button
      imgSrc="assets/icons/close_line.svg"
      imgAlt="Cerrar"
      class="nav-header-container__close"
      (onClick)="closeNav.emit()">
    </app-icon-button>


  </div>

  <ul>
    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN' || userLoginData.role === 'CLIENTE'"
      elementText="Ver categorías"
      pageUrl="/ver-categorias"
      elementIcon="assets/icons/category_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN'"
      elementText="Crear categoría"
      pageUrl="/crear-categoria"
      elementIcon="assets/icons/add_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN' || userLoginData.role === 'CLIENTE'"
      elementText="Ver marcas"
      pageUrl="/ver-marcas"
      elementIcon="assets/icons/brand_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN'"
      elementText="Crear marca"
      pageUrl="/crear-marca"
      elementIcon="assets/icons/add_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN' || userLoginData.role === 'CLIENTE'"
      elementText="Ver artículos"
      pageUrl="/ver-articulos"
      elementIcon="assets/icons/item_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN'"
      elementText="Crear artículo"
      pageUrl="/crear-articulo"
      elementIcon="assets/icons/add_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      *ngIf="userLoginData.role === 'ADMIN'"
      elementText="Crear auxiliar"
      pageUrl="/crear-auxiliar"
      elementIcon="assets/icons/user_icon.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>
  </ul>


  <button
    class="nav-header-container__session"
    *ngIf="userIsLogin"
    (click)="logout()"
  >
    <img src="/assets/icons/logout.svg" alt="">
    <p>Cerrar sesión</p>
  </button>


</div>
