<div class="nav-container">


  <div class="nav-header-container">

    <a
      class="nav-header-container__login"
      routerLink="/login"
      (click)="closeNav.emit()"
      *ngIf="!userIsLogin"
    >

      <img
        class="user-profile__avatar"
        src="/assets/icons/purple_person_logo.svg" alt="">

      <p>Iniciar Sesión</p>

    </a>

    <div
      *ngIf="userIsLogin"
      class="user-profile">

      <img
        class="user-profile__avatar"
        src="/assets/icons/avatar_ab_orange.svg" alt="">

      <div class="user-profile__info-container">

        <p
          class="user-profile__info-container__username user-profile__info-container__text">{{ userLoginData.email }}</p>
        <small
          class="user-profile__info-container__role user-profile__info-container__text">{{ userLoginData.role }}</small>

      </div>

    </div>

    <app-icon-button
      imgSrc="assets/icons/close_line.svg"
      imgAlt="Cerrar"
      class="nav-header-container__close"
      (onClick)="closeNav.emit()">
    </app-icon-button>


  </div>

  <ul>
    <app-navigation-bar-element
      elementText="Ver categorias"
      pageUrl="/ver-categorias"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      elementText="Crear categoria"
      pageUrl="/crear-categoria"
      elementIcon="assets/icons/purple_setting.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      elementText="Ver marcas (Brand)"
      pageUrl="/ver-marcas"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      elementText="Crear marca (Brand)"
      pageUrl="/crear-marca"
      elementIcon="assets/icons/purple_setting.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      elementText="Ver articulos (Item)"
      pageUrl="/ver-articulos"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      elementText="Crear articulo (Item)"
      pageUrl="/crear-articulo"
      elementIcon="assets/icons/purple_setting.svg"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>


    <app-navigation-bar-element
      elementText="Crear auxiliar"
      pageUrl="/crear-auxiliar"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>


  </ul>


  <button
    class="nav-header-container__session"
    *ngIf="userIsLogin"
    (click)="logout()"
  >
    <img src="/assets/icons/logout.svg" alt="">
    <p>Cerrar sesión</p>
  </button>


</div>
