@import "../../../styles/global-colors";

.nav-container{
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
ul{
  margin:0;
  padding:0;
}

.nav-header-container{
  width: 95%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
