<script src="navigation-bar.component.spec.ts"></script>
<div class="nav-container">
  <div class="nav-header-container">
    <img src="assets/icons/purple_person_logo.svg" alt="">

    <button (click)="closeNav.emit()">
      <img src="assets/icons/close_line.svg" alt="">
    </button>
  </div>

  <ul>
    <app-navigation-bar-element
      elementText="Ver categorias"
      [isActived]="true"
      pageUrl="/get-categories"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>

    <app-navigation-bar-element
      elementText="Crear categoria"
      pageUrl="/create-category"
      (closeNav)="handleCloseNav()"></app-navigation-bar-element>
  </ul>

  <div class="nav-container__session">
    <img src="assets/icons/logout.svg" alt="">
    <p>Log out</p>
  </div>
</div>
