button{
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
