.data-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  align-items: center;
}

.data-container > h2{
  text-align: center;
}

.pagination-controls{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}


.pagination{
  display: flex;
  flex-direction: row;

  align-items: center;
}
