@import "src/styles/global-colors";
@import "src/styles/fonts";

.header{
  width: 100vw;
  z-index: 9;
  position: relative;
  transition-duration: 1s;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid $color-border;
}

.header-container > button{
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}


.header-element{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  width: 0;

  &__active{
    width: 90vw;
    display: flex;
  }
}
