<header class="header">
  <div class="header-container">

    <button>
      <img class="img-person-logo" src="assets/icons/person_logo.svg" alt="">
    </button>

    <button>
      <img class="img-logo-pragma" src="assets/icons/logo_pragma_mobile.svg" alt="">
    </button>

    <button (click)="setActive()">
      <img class="img-menu" src="assets/icons/logo_menu.svg" alt="">
    </button>
  </div>

  <app-navigation-bar
    [ngClass]="{'header-element__active' : active}"
    (closeNav)="setActive()"
    class="header-element"></app-navigation-bar>
</header>
