<section>

  <h1>Create category</h1>

  <form action="">

    <div class="form-container">
      <label for="name">Nombre: </label>
      <app-input-text
        idInput="name"
        (valueChange)="receiveName($event)"
      ></app-input-text>

      <label for="description">Description: </label>
      <app-input-text
        idInput="description"
        (valueChange)="receiveDescription($event)"></app-input-text>

    </div>


    <div class="buttons-container">
      <app-primary-icon-button
        (click)="createCategory()"
        buttonText="Create"></app-primary-icon-button>
    </div>

  </form>

</section>
