@import "../../styles/global-colors";
@import "src/styles/fonts";
@import "src/styles/global";

form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  padding: 25px;
  @extend .shadow__medium;
  @extend .corner-radius__large;

}



label{
  @extend  .main-text__body-l;
}

h1{
  @extend .desktop__poppins-h1;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container{
  display: flex;
  flex-direction: column;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 24px;
}
