<section>

  <h1>Create category</h1>

  <form action="">

    <div class="form-container">
      <label for="name">Nombre: </label>
      <app-input-text idInput="name"></app-input-text>

      <label for="description">Description: </label>
      <app-input-text idInput="description"></app-input-text>

    </div>


    <div class="buttons-container">
      <app-primary-icon-button buttonText="Create"></app-primary-icon-button>
      <app-secondary-button buttonText="Cancel"></app-secondary-button>

    </div>

  </form>

</section>
