<section>

  <h1>Create category</h1>

  <form action="" (ngSubmit)="createCategory()" #categoryForm="ngForm">

    <div class="form-container">
      <label for="name">Nombre: </label>
      <app-input-text
        idInput="name"
        (valueChange)="updateCategoryValues('name', $event)">
      </app-input-text>

      <label for="description">Description: </label>
      <app-input-text
        idInput="description"
        (valueChange)="updateCategoryValues('description', $event)">
      </app-input-text>

    </div>


    <div class="buttons-container">
      <app-primary-icon-button
        type="submit"
        buttonText="Create"></app-primary-icon-button>
    </div>

  </form>

</section>
